<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ictsaeil.sample.mapper.StudentMapper">

	<select id="selectStudentInfo" parameterType="String" resultType="java.util.HashMap">
		SELECT 
				*
		FROM 
				tb_student_info
		WHERE 
			student_name = #{studentName}
	</select>

</mapper>